*{
  padding: 0;
  margin: 0;
}

.app{
  min-height: 100vh;
  width: 100vw;
  background: rgb(175,104,234);
  background: linear-gradient(180deg, rgba(175,104,234,1) 0%, rgba(137,102,232,1) 32%, rgba(94,92,216,1) 100%);
}

.container{
  min-height: 80%;
  min-width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.column{
  width: 40%;
  background: yellow;
}