@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.app{
  height: 100vh;
  width: 100vw;
  background: rgb(175,104,234);
  background: linear-gradient(180deg, rgba(175,104,234,1) 0%, rgba(137,102,232,1) 32%, rgba(94,92,216,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container{
  width: 80%;
  height: 80%;
  position: relative;
  background: white;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6%;
}

.container::before{
  content: "";
  background: url(./img/illustration-box-desktop.svg) center center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -25%);
  height: 184px;
  width: 191px;
  z-index: 10;
}

.column{
  width: 45%;
}

.colLeft{
  overflow: hidden;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colRight{
  padding-right: 50px;
}

.imgWoman{
  height: auto;
  width: 100%;
  transform: translateX(-120px);
  z-index: 1;
}

.imgBackground{
  position: absolute;
  height: 160%;
  width: 160%;
  right: 120px;
  top: 0;
  transform: translateY(-23%);
  z-index: 0;
}

ul{
  list-style: none;
  max-height: 100%;
}

li{
  padding: 20px 0;
  border-bottom: solid 1px #c7c7c7;
  position: relative;
  transition: all ease 300ms;
}

p{
  opacity: 0;
  transition: all ease 300ms;
  font-size: 0px;
}

button{
  background: none;
  border: none;
  cursor: pointer;
  transition: all ease 500ms;
  position: absolute;
  right: 10px;
  top: 15px;
  color: #da8772;
}

.active button{
  transform: rotate(180deg);
}

li.active p{
  opacity: 1;
  font-size: 14px;
  padding-top: 10px;
}

li.active h3{
  font-weight: bolder;
}

h3{
  padding-right: 10px;
  font-size: 16px;
  font-weight: 400;
  transition: all 300ms ease;
}

h1{
  margin-bottom: 20px;
}

@media (max-width : 1440px) {
  .imgWoman{
    transform: translateX(-75px);
  }
  
  .imgBackground{
    right: 75px;
  }
}

@media (max-width : 1280px) {
  .imgWoman{
    transform: translateX(-50px);
  }
  
  .imgBackground{
    right: 50px;
  }
}

@media (max-width : 1024px) {
  h1{
    text-align: center;
  }

  .app{
    min-height: 100vh;
  }

  .container{
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    height: 70%;
    gap: 0;
    justify-content: flex-start;
  }

  .imgWoman{
    position: absolute;
    width: 250px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -170px);
  }

  .imgBackground{
    display: none;
  }

  .colLeft{
    overflow: visible;
    height: 0;
  }

  .colRight{
    padding-top: 50px;
    padding-left: 50px;
  }

  .column{
    width: 90%;
  }

  .container::before{
    display: none;
  }
}

@media (max-width: 450px) {
  .container{
    width: 90%;
    height: auto;
    min-height: 70%;
    padding-bottom: 20px;
  }

  .app{
    height: auto;
    min-height: 100vh;
    padding-bottom: 50px;
    padding-top: 15px;
  }

  h3{
    padding-right: 30px;
  }

  .imgWoman{
    width: 200px;
    transform: translate(-50%, -140px);
  }
}

@media (max-width: 390px) {

  .app{
    padding-top: 75px;
  }
}